			#All{
				width: 1320px;
				margin-left: -8px;
				margin-top: 15px;
			}
			#formtb{
				margin-top: 15px;
			}
			.kuangdaxiao{
				width: 500px;
			}
			#title{
				font-size: 16px;
				text-align: left;
				padding-top:15px;
				font-family: "楷体";
				height: 30px;
				background-color: lightgray;
				border-bottom: 1px solid darkgray;
			}

			#titlePic{
				margin-bottom: -5px;
			}
			#daohang:link{
			text-decoration: none;	
			}
			
			#tishi{
				text-align: right;
				}
				td {
					border-right: none;
				border: 0.4px solid darkgray;
				padding: 10px 10px;
			}
			#kuang{
				margin-left: 5px;
				width: 200px;
				height: 20px;
				padding: 3px;	
				border-radius: 4px; 	/*圆角*/
			}

